<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<!--    Property for the path of the logs directory-->
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>

    <Appenders>
<!--        Logging into the file-->
        <RollingFile name="File" fileName="${basePath}/prints.log" filePattern="${basePath}/prints-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
<!--            When file will rich 500KB, log4j will create the new file as specified in filePattern-->
            <SizeBasedTriggeringPolicy size="500" />
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>